@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'SN Pro', sans-serif;
  font-optical-sizing: auto;
  text-shadow: 3px 3px 5px rgb(143, 156, 149);
}

header img {
  width: 100px;
  height: 100px;
}
